<div>
    <h3>Contacts:</h3>
    <ul>
      <li *ngFor="let contact of contacts">
        <p>{{contact.firstName}} {{contact.lastName}}, {{contact.phoneNumber}}, {{contact.email}}</p>
      </li>
    </ul>
  </div>


<div>
  <h4>Enter New Contact:</h4>
  <form (ngSubmit)="onSubmit">
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" placeholder="First Name" name="firstName" required [(ngModel)]="model.firstName">
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" placeholder="Last Name" name="lastName" required [(ngModel)]="model.lastName">
    </div>
    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" placeholder="Phone Number" name="phoneNumber" required [(ngModel)]="model.phoneNumber">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" placeholder="Email" name="email" email required [(ngModel)]="model.email">
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>